body {
    margin: 0;
}
  
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    background-color:white;
    max-height: 8vh;
    width: calc(100vw - 30px);
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
} 

.logo img {
    max-width: 20vw;
    max-height: 8vh;
}
  
.logo span {
    font-size: 12px;
    color: rgb(63, 185, 63);
    font-family: fantasy;
}

.logo span:hover {
    text-decoration: underline;
}
 
a {
    text-decoration: none;
} 

header div {
    display:flex;
    align-items: flex-end;
}
header div a {
    color: grey;
    font-size: 14px;
    border-left:solid 1px rgb(160, 159, 159);
    padding-left: 3px;
    margin: 5px;
}

header div a:hover {
    background-color: rgb(207, 205, 202);
    color:white
}
.products-wrapper {
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.add-product {
    background-color: rgb(246, 246, 22);
    padding: 10px;
    border: solid 1px rgb(235, 231, 231);
    width: calc(100vw - 40px);
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}
.add-product button {
    padding: 5px;
    min-width: 20vw;
    background-color: rgb(63, 185, 63);
    color: white;
}

.add-product button:hover {
    box-shadow: inset -6px 5px 77px -19px rgba(87,235,99,1);
-moz-box-shadow: inset -6px 5px 77px -19px rgba(87,235,99,1);
box-shadow: inset -6px 5px 77px -19px rgba(87,235,99,1);
}

.wrapper {
    display:flex;
    flex-direction: row;
    min-height: 20vh;
    background-color: #fcf8f8;
    cursor: pointer;
    transition: 0.3s;
    color: rgb(34, 33, 33);
    border: solid 1px rgb(235, 231, 231);
    width: calc(100vw - 40px);
    padding: 10px;
}
  
.wrapper:hover {
    background-color: rgba(194, 245, 228, 0.068);
    /* box-shadow: inset -1px -1px 23px 24px rgba(246, 246, 22, 0.23);
-moz-box-shadow: inset -1px -1px 23px 24px rgba(246, 246, 22,0.23);
box-shadow: inset -1px -1px 23px 24px rgba(237, 237, 159, 0.23); */
}
  
.wrapper img {
    height: 20vh;
    width: 30vw;
    object-fit: cover;
    margin: 5px;
}
  
.price-wrapper {
    width: 20vw;
    text-align: right;
    padding: 10px;
    font-weight: bold;
}
  
.title-wrapper {
    padding: 10px;
    font-size: 20px;
    color:rgb(63, 185, 63)
}
  
.product-wrapper {
    display: flex;
    flex-direction: column;
    background-color:#fcf8f8;
    border: solid 1px rgb(235, 231, 231);
    width: calc(100vw - 40px);
    text-align: center;
    padding: 10px;
}
  
.product-section {
    min-height: 80vh;  
}
  
.product-photo img {
    height: 45vh;
    object-fit: contain;
}
  
.product-content {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 4;
    gap:5px;
    padding-right: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
}
  
.product-title {
    font-size: 30px;
    margin-bottom: 8px;
    text-align: left;
}

.product-price {
    grid-column: 2;
    grid-row: span 2;
    font-size: 36px;
    text-align: right;
    margin-top: 8px;
    color:rgb(69, 165, 69);
}

.product-location {
    text-align: left;
    color:rgb(132, 126, 126);
    margin-bottom: 10px;
}
  
.product-description {
    grid-column: span 2;
    grid-row: 3;
    line-height: 1.4;
    text-align: justify;
}
  
#erase-button{
    padding: 5px;
    grid-column: 2;
    background-color: rgb(195, 198, 196);
    text-align: center;
    width: max-content;
    margin-top: 10px; 
    justify-self: end 
}

#erase-button:hover{
    background-color: rgb(241, 242, 241);
}

.delete-message {
    color: red;
    font-size: 24px;
}

.success-message {
    color: green;
    font-size: 24px;
}
  
.not-success-message{
    color:red;
}

.product-form {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60vw;
    margin-top: 50px;
}
  
.product-form input {
    padding: 8px;
}

.product-form input:hover {
    background-color: rgb(238, 253, 248);
  }
  
.product-form button {
    padding: 8px;
    background-color: rgb(69, 165, 69);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.product-form button:hover {
    box-shadow: inset -6px 5px 77px -19px rgba(87,235,99,1);
-moz-box-shadow: inset -6px 5px 77px -19px rgba(87,235,99,1);
box-shadow: inset -6px 5px 77px -19px rgba(87,235,99,1);
}

footer {
    background-color:white;
    height: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
  
footer div {
    color: rgb(63, 185, 63);
}

#hamburger {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
  
#hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: grey;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
  

  

  @media only screen and (max-width: 768px) {
    .add-product {
        justify-content: center;
    }

    .wrapper {
        display:flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        min-width: 80vw;
    }

    .title-wrapper, 
    footer, 
    .price-wrapper,
    a {
        font-size: 0.95em;
    } 


    .product-wrapper,
    .add-product {
        width: 100vw;
    }


    .product-content {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
    }

    .product-price {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
    }

    .product-location {
    text-align: center;
    font-size: 0.9em;
    }
  
    .product-description {
    text-align: justify;
    font-size: 0.9em;
    }  

    #erase-button{
       align-self: flex-end;
    }

    #nav {
        position: relative;
      }
    
    #nav a {
        display: block;
        opacity: 0;
        margin-bottom: 10px;
    }
    
    #hamburger {
        display: block;
    }
}
    

  